<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- src/app/pages/signup/signup.page.html -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" class="form-control"/>
    <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" class="error-message">
      Username is required.
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" class="form-control"/>
    <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error-message">
      Enter a valid email address.
    </div>
  </div>

  <div class="form-group">
    <label for="email">Phone</label>
    <input id="phone" type="number" formControlName="phone" class="form-control"/>
    <div *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched" class="error-message">
      Enter a valid email address.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"/>
    <div *ngIf="signupForm.errors?.['mismatch'] && signupForm.get('confirmPassword')?.touched" class="error-message">
      Passwords do not match.
    </div>
  </div>

  <button type="submit" class="submit-button" [disabled]="signupForm.invalid">Sign Up</button>
</form>

  
</ion-content>
