.chat-container {
  padding: 10px 50px;
}

.message {
  margin: 10px 0;
  display: flex;
}

.message.you {
  justify-content: flex-start;
}

.message.valhala {
  justify-content: flex-end;
}

.message-content {
  background: #e0e0e0;
  padding: 10px;
  border-radius: 10px;

  .time{
    text-align: right;
    font-size: small;
    color: blueviolet;
  }
}

.message.you .message-content {
  background: #d1ffd6;
}

.message.valhala .message-content {
  background: #d1e0ff;
}

.older-msg-link {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.send-msg-button{
  position: absolute;
  bottom: 20%;
  right: 9%;
}

.msg-input-field{
  width: 30%;
}
